<header class="header">
    <div class="container-full">
        <div class="header__menu flex --align-center --just-space">
            <a href="#" class="logo">
                <img src="img/Logo.svg" alt="logo" class="logo__img">
            </a>
            <nav class="menu">
                <ul class="menu__list flex">
                    <li class="menu__list-item --menu-icon catalog">
                        <a href="#" class="menu__list-link">
                            Каталог
                        </a>
                        <ul class="catalog__list">
                            <li class="catalog__item">
                                <a href="#" class="catalog__list-link">
                                    Ёжики
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="catalog__list-link">
                                    Питание
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="catalog__list-link">
                                    переноски
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="catalog__list-link">
                                    Лекарства
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            о нас
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            контакты
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            галерея
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+7 (965) 569-89-98" class="telephone">+7 (965) 569-89-98</a>
            <a href="#" class="basket">
                <img src="img/basket.svg" alt="basket" class="basket__image">
                <span class="basket__counter">0</span>
            </a>
        </div>
        
        <img src="img/name.svg" alt="title" class="img__title">
        <a href="#" class="header__buy">
            Купить ёжика
        </a>
        <div class="header__info flex --just-center">
            <div class="header__info-item item-hedhog">
                <div class="item-hedhog__image">
                    <img src="img/openmoji_hedgehog.svg" alt="hedhog" class="item-headhog__icon">
                </div>
                <p class="item-hedhog__title">
                    разведение ежиков
                </p>
                <p class="item-hedhog__text">
                    Собственная ферма, уход и содержание
                </p>
            </div>
            <div class="header__info-item">
                <div class="item-hedhog__image syringe-solid__image">
                    <img src="img/la_syringe-solid.svg" alt="hedhog" class="item-headhog__icon syringe-solid">
                </div>
                <p class="item-hedhog__title">
                    здоровье
                </p>
                <p class="item-hedhog__text">
                    Всегда прививаем и вовремя обследуем ваших будущих питомцев
                </p>
            </div>
            <div class="header__info-item">
                <div class="item-hedhog__image heart-twotone__image">
                    <img src="img/ant-design_heart-twotone.svg" alt="hedhog" class="item-headhog__icon heart-twotone">
                </div>
                <p class="item-hedhog__title">
                    любовь и забота
                </p>
                <p class="item-hedhog__text">
                    Каждому ежику мы дарим много внимания
                </p>
            </div>
        </div>
        
    </div>
</header>
