<section class="shop">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="cart__one">
                        <div class="cart__one-text text-block">
                            <h3 class="text-block__title">
                                Ежик “Евгений”
                            </h3>
                            <p class="text__block-info">
                                Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной,
                                любит внимаение
                            </p>
                        </div>
                        <img src="" alt="" class="cart__one-image">
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>